nav {
    height: 50px;
    width: 100%;

}

nav h4 {
    font-size: 25px;
    color: #670714;
    margin: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #005c00;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #005c00;
    color: white;
    text-decoration: underline;
}